<mat-accordion>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1 class="tabs-heading resume-form-title">Enter details which you want to see on your Resume</h1>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contact Details
                </mat-panel-title>
                <mat-panel-description>
                    Enter your Contact Details
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is main containt</p>
        </mat-expansion-panel>
    </div>
</mat-accordion>