<div fxLayout="column" fxLayoutAlign="center center" style="position: relative;">
    <div class="cards-outer-div" fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="!this.contactDetails">
             <h3 class="empty-heading">No Contact Details Added at Yet.</h3>
        </ng-container>
        <div fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div class="hover-container">
                <div class="hover">
                    <button (click)="openContactForm()" style="margin-top: 2.5rem;" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>