.main-div {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/back.jpg");
  }

  .sidebar {
    background: #538EC3;
    margin-left: 12rem;
    width: 300px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.3) !important;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .eye-button-pos {
    position: absolute !important;
  }