<div class="main-div" fxLayout="{{this.isLeftPanelEnable ? 'row' : 'column'}}" fxLayout.xs="column" fxLayoutAlign="{{this.isLeftPanelEnable ? 'start start' : 'center center'}}" fxLayoutGap="50px" *ngIf="this.resume">
    <mat-card class="sidebar res-sidebar-margine" *ngIf="isLeftPanelEnable">
        <div fxLayout="column" fxLayoutGap="20px">
            <button matTooltip="Views: {{this.resume.views}}" style="background: #f1c232;" mat-mini-fab
                *ngIf="this.resume && this.isPreview && this.resume.contact_details ">
                <mat-icon style="color: black">remove_red_eye</mat-icon>
            </button>
            <app-template-contact-detail [resume]="resume">
            </app-template-contact-detail>
        </div>
    </mat-card>
    <app-template-buttons *ngIf="!isLeftPanelEnable" [isLeftPanelEnable]="isLeftPanelEnable" [resumeId]="resume._id"></app-template-buttons>
    <app-template-details [resume]="resume"></app-template-details>
</div>