<mat-accordion>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1 class="tabs-heading resume-form-title res-expansion-title">Enter details which you want to see on your Resume</h1>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Contact Details
                </mat-panel-title>
                <mat-panel-description>
                    Enter your Contact Details
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-contact-details [resumeId]="resume._id" [contactDetails]="resume.contact_details"></app-contact-details>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Education
                </mat-panel-title>
                <mat-panel-description>
                    Enter your Qualification
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-education [resumeId]="resume._id" [educations]="resume.education"></app-education>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Employment History 
                </mat-panel-title>
                <mat-panel-description>
                    Enter your Work Experience
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-emp-history [resumeId]="resume._id" [employmentHistorys]="resume.employment_history"></app-emp-history>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Hobbies & Intrests
                </mat-panel-title>
                <mat-panel-description>
                    Describe your Hobbies and Intrests in detail
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-interest [resumeId]="resume._id" [interest]="resume.interests"></app-interest>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Professional Skills
                </mat-panel-title>
                <mat-panel-description>
                    Describe your Skills
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-skill [resumeId]="resume._id" [skills]="resume.skills"></app-skill>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Languages
                </mat-panel-title>
                <mat-panel-description>
                    Describe your kown Languages
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-language [resumeId]="resume._id" [languages]="resume.languages"></app-language>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Industries Exposure as an Intern
                </mat-panel-title>
                <mat-panel-description>
                    Describe your Industries Exposure as an Intern
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-industrial-exposure [resumeId]="resume._id" [industrialExposures]="resume.industrialExposures"></app-industrial-exposure>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="res-mat-expansion-panel-header">
                <mat-panel-title>
                    Awards and Achievement
                </mat-panel-title>
                <mat-panel-description>
                    Describe your Awards and Achievement
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-awards-achivement [resumeId]="resume._id" [awardsAchivements]="resume.award_achivements"></app-awards-achivement>
        </mat-expansion-panel>
        
    </div>
</mat-accordion>