<form (ngSubmit)="this.referenceForm.valid && addOrUpdate()" [formGroup]="this.referenceForm">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input type="text" formControlName="name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="relationship" matInput placeholder="Relationship">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="company" matInput placeholder="Company">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="phone" matInput placeholder="Phone">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="address" matInput placeholder="Address">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button *ngIf="this.data.reference._id" color="primary">Update</button>
            <button *ngIf="!this.data.reference._id" mat-raised-button color="primary">Save</button>
            <button type="button" (click)="this.dialogRef.close()" mat-raised-button color="warn">Cancel</button>
        </div>
    </div>
</form>