<div class="overlay" style="margin: 3rem;" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
    <div fxLayout="row">
        <img style="width: 160px;" src="../../../assets/images/cv-letter.png" alt="">
        <h1 class="on-board-heading" style="margin-left: 10px; color: #FE8529;" fxLayout="row" fxLayoutAlign="center center">Digital Resume</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3rem">
        <h1 class="on-board-heading">Welcome to make my resume!</h1>
        <h2 style="color:  #1A1A1A;">From the whole team here, thank you for trying us. We are commited to make it easier for you to do great work</h2>
        <button mat-raised-button color="primary" (click)="navigateToOnBoard()">Let's Go</button>
    </div>
</div>