<div  *ngIf="this.resume" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="res-blue-container">
      <div fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
        <button mat-raised-button style="cursor: pointer;color: #fff;margin-top: 2px;background: #cf8a05; position: absolute"
                (click)="download()">DOWNLOAD
        </button>
      </div>
      <div fxLayout="column" id="html" fxLayoutGap="5px" fxFlexAlign="center center">
        <div id="cv" class="instaFade">
          <div class="mainDetails" *ngIf="this.resume.contact_details">
            <div id="name">
              <h1 style="text-transform:uppercase" class="quickFade delayTwo">{{this.resume.contact_details.first_name}}
                {{this.resume.contact_details.last_name}}</h1>
              <!--<h2 class="quickFade delayThree">{{this.resume.employment_history.}}</h2>-->
            </div>
            <div id="contactDetails" class="quickFade delayFour">
              <ul>
                <li><a [href]="this.resume.contact_details.email"
                                                                         target="_blank">
                  {{this.resume.contact_details.email}}</a></li>
                <li *ngIf="this.resume.contact_details.website_url"> <a
                  [href]="this.resume.contact_details.website_url">
                  {{this.resume.contact_details.website_url}}</a></li>
                <li>{{this.resume.contact_details.phone_number}}</li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <div id="mainArea" class="quickFade delayFive">
            <section *ngIf="this.resume.contact_details">
              <article>
                <div class="sectionTitle">
                  <h1>Personal Profile</h1>
                </div>
                <div class="sectionContent">
                  <p>{{this.resume.contact_details.summary}}</p>
                </div>
              </article>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.employment_history.length">
              <div class="sectionTitle">
                <h1>Work Experience</h1>
              </div>

              <div class="sectionContent">
                <ng-container *ngFor="let work of this.resume['employment_history']">
                  <article style="margin-bottom: 4%">
                    <h2>{{work.designation}}</h2>
                    <span style="color: #5da4d9;float: right;
                       margin-top: -20px;" *ngIf="work.end_year"
                          class="subDetails">{{work.start_month}} {{work.start_year}} - {{work.end_month}} {{work.end_year}}</span>
                    <span style="color: #5da4d9;float: right;
                       margin-top: -20px;" *ngIf="!work.end_year"
                          class="subDetails">{{work.start_month}} {{work.start_year}} - Present</span>
                    <p>{{work.employer}}</p>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.skills.length">
              <div class="sectionTitle">
                <h1>Key Skills</h1>
              </div>
              <div class="sectionContent">
                <ul class="keySkills">
                  <ng-container *ngFor="let skill of this.resume['skills']">
                    <li>{{skill.skill}}</li>
                  </ng-container>
                </ul>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.education.length">
              <div class="sectionTitle">
                <h1>Education</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let education of this.resume['education']">
                  <article style="margin-bottom: 4%;">
                    <h2>{{education.school_name}}</h2>
                    <p class="subDetails">Qualification</p>
                    <h3>{{education.degree_type}}
                      <span style="text-transform: lowercase !important; font-size: 10pt;">@{{education.school_name}}</span></h3>
                    <span class="subDetails" style="color: #5da4d9;float: right;
  margin-top: -62px;">{{education.graduation_month}} {{education.graduation_year}}</span>
                    <h4>
                      {{education.city}}, {{education.state}} <br>
                      {{education.field}} - {{education.percentage}}
                    </h4>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.languages.length">
              <div class="sectionTitle">
                <h1>Language I Speak</h1>
              </div>
              <div class="sectionContent">
                <ul class="keySkills">
                  <ng-container *ngFor="let language of this.resume['languages']">
                    <li>{{language.name}}</li>
                  </ng-container>
                </ul>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.objectives.length">
              <div class="sectionTitle">
                <h1>Objective</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let objective of this.resume['objectives']">
                  <article style="margin-bottom: 4%">
                    <h2>{{objective.objective}}</h2>
                    <h3>{{objective.place}}</h3>
                    <h3>{{objective.declaration}}</h3>
                    <h3>{{objective.date}}</h3>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.industrialExposures.length">
              <div class="sectionTitle">
                <h1>Industrial Exposure as Intern</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let industrialExposure of this.resume['industrialExposures']">
                  <article style="margin-bottom: 4%">
                    <h3>{{industrialExposure.organisation}}</h3>
                    <span class="subDetails" *ngIf="industrialExposure.end_year" style="color: #5da4d9;float: right;
  margin-top: -20px;">
                  {{industrialExposure.start_month}} {{industrialExposure.start_year}} -
                      {{industrialExposure.end_month}} {{industrialExposure.end_year}}
                </span>
                    <span class="subDetails" style="color: #5da4d9;float: right;
  margin-top: -20px;" *ngIf="!industrialExposure.end_month">
                  {{industrialExposure.start_month}} {{industrialExposure.start_year}} - Present
                </span>
                    <h4>
                      {{industrialExposure.city}}, {{industrialExposure.state}}
                    </h4>
                    <p>{{industrialExposure.work}}</p>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.projectDetails.length">
              <div class="sectionTitle">
                <h1>Project Details</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let projectDetail of this.resume['projectDetails']">
                  <article style="margin-bottom: 4%">
                    <h3>
                      {{projectDetail.title}}<br>
                      {{projectDetail.description}}<br>
                      {{projectDetail.duration}}<br>
                      {{projectDetail.role}}
                    </h3>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.award_achivements.length">
              <div class="sectionTitle">
                <h1>Awards</h1>
              </div>
              <div class="sectionContent">
                <article>
                  <ng-container *ngFor="let award of this.resume['award_achivements']">
                    <ul style="list-style-type: circle">
                      <li>
                        {{award.awards_and_achivements}}
                      </li>
                    </ul>
                  </ng-container>
                </article>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.interests.length">
              <div class="sectionTitle">
                <h1>Interests</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let interest of this.resume['interests']">
                  <article>
                    <ul style="list-style-type: circle; word-break: break-word;">
                      <li>
                        {{interest.interest}}
                      </li>
                    </ul>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.weakness.length">
              <div class="sectionTitle">
                <h1>Weakness</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let weakness of this.resume['weakness']">
                  <article>
                    <ul style="list-style-type: circle">
                      <li>
                        {{weakness.name}}
                      </li>
                    </ul>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.strengths.length">
              <div class="sectionTitle">
                <h1>Strength</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let strength of this.resume['strengths']">
                  <article>
                    <ul style="list-style-type: circle">
                      <li>
                        {{strength.name}}
                      </li>
                    </ul>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
            <section *ngIf="this.resume.refrences.length">
              <div class="sectionTitle">
                <h1>Reference</h1>
              </div>
              <div class="sectionContent">
                <ng-container *ngFor="let refrence of this.resume['refrences']">
                  <article style="margin-bottom: 4%">
                    <h3>
                      {{refrence.name}}<br>
                      {{refrence.relationship}}<br>
                      {{refrence.company}}<br>
                      {{refrence.email}}<br>
                      {{refrence.phone}}<br>
                      {{refrence.address}}
                    </h3>
                  </article>
                </ng-container>
              </div>
              <div class="clear"></div>
            </section>
          </div>
        </div>
      </div>
      <div class="hover" fxLayout="column" fxLayoutAlign="center center" fxHide.xs>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-button color="primary" (click)="download()">Save
          </button>
        </div>
      </div>