<h1>Angular Material</h1>

<h3>Button</h3>
<button mat-raised-button color="warn">Click Here to Subscribe</button>
<button mat-raised-button color="primary">Primary</button>

<h3>Mat Toolbar</h3>

<mat-toolbar>
  <button mat-button color="accent">Home</button>
  <button mat-raised-button color="primary">Login</button>
  <button mat-button color="primary">SignUp</button>
</mat-toolbar>

<h3>Mat Input</h3>
<div style="background-color: aqua; width: 35vw; padding: 5px; margin: 15px">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>
</div>
<div style="background-color: aqua; width: 35vw; padding: 5px; margin: 15px">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</div>

<h3>Mat Card</h3>
<mat-card style="background-color: aqua; width: 40%;">
  <h3>Login Card</h3>
  <div style="background-color: aqua; width: 35vw; padding: 5px; margin: 15px">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div style="background-color: aqua; width: 35vw; padding: 5px; margin: 15px">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>
</mat-card>

