<form (ngSubmit)="this.strengthForm.valid && addOrUpdate()" [formGroup]="this.strengthForm">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input type="text" formControlName="name" matInput placeholder="Name your Strength">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button *ngIf="this.data.strength._id" color="primary">Update</button>
            <button *ngIf="!this.data.strength._id" mat-raised-button color="primary">Save</button>
            <button type="button" (click)="this.dialogRef.close()" mat-raised-button color="warn">Cancel</button>
        </div>
    </div>
</form>