<div  *ngIf="this.resume" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="res-blue-container">
      <div fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
        <button mat-raised-button style="cursor: pointer;color: #fff;margin-bottom: 10px;background: #ba0018;"
                (click)="download()">DOWNLOAD
        </button>
      </div>
      <div id="html" class="w" itemscope itemtype="http://schema.org/Person">
        <header class="clearfix" *ngIf="this.resume.contact_details">
          <div id="info">
            <h1 style="margin-bottom: 15px"><span itemprop="name">{{this.resume.contact_details.first_name}}
              {{this.resume.contact_details.last_name}}</span></h1>
            <!--<h3><span itemprop="jobTitle">Freelance Writer &amp; Web Developer</span></h3>-->
            <small style="margin-bottom: 10px" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              {{this.resume.contact_details.address}}<br>
              {{this.resume.contact_details.city}},{{this.resume.contact_details.state}}-
              {{this.resume.contact_details.zip_code}}
            </small>
            <small><span itemprop="email">
            <small><span itemprop="email">
              {{this.resume.contact_details.email}}</span></small>
            </span>
            </small>
          </div>
        </header>

        <section id="profile" *ngIf="this.resume.contact_details">
          <h2>Summary</h2>
          <p itemprop="description">{{this.resume.contact_details.summary}}</p>
        </section>

        <section id="education" *ngIf="this.resume.education.length">
          <h2>Qualification</h2>
          <ng-container itemprop="alumniOf" *ngFor="let education of this.resume['education']">
            <h3><span>{{education.degree_type}}</span> in {{education.field}}</h3>
            <div class="emph">{{education.school_name}}</div>
            <div class="emph">{{education.percentage}}</div>
            <div style="padding-left: 35px;margin-bottom: 15px" class="row">
              <div class="col light">{{education.city}}, {{education.state}}</div>
              <div class="col-right light">{{education.graduation_month}} {{education.graduation_year}}</div>
            </div>
          </ng-container>
        </section>

        <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList"
                 *ngIf="this.resume.skills.length">
          <h2 itemprop="name">Skillset</h2>
          <section id="skills-left" *ngFor="let skill of this.resume['skills']">
            <ul>
              <li id="bullet" itemprop="itemListElement">{{skill.skill}}</li>
            </ul>
          </section>
        </section>

        <section id="experience" *ngIf="this.resume.employment_history.length">
          <h2>Work Experience</h2>
          <ng-container itemprop="alumniOf" *ngFor="let work of this.resume['employment_history']">
            <h3><span>{{work.organisation}}</span> - {{work.city}}, {{work.state}}</h3>
            <div class="emph">{{work.employer}}, {{work.designation}}</div>
            <div style="padding-left: 35px;margin-bottom: 15px" class="row">
              <div class="col-right light" *ngIf="work.end_year">
                {{work.start_month}} {{work.start_year}} - {{work.end_month}} {{work.end_year}}
              </div>
              <div class="col-right light" *ngIf="!work.end_year">
                {{work.start_month}} {{work.start_year}} - Present
              </div>
            </div>
          </ng-container>
        </section>

        <section id="industrial-exposure" *ngIf="this.resume.industrialExposures.length">
          <h2>Training</h2>
          <ng-container itemprop="alumniOf" *ngFor="let industrialExposure of this.resume['industrialExposures']">
            <h3><span>{{industrialExposure.organisation}}</span> - {{industrialExposure.city}},
              {{industrialExposure.state}}</h3>
            <div class="emph">{{industrialExposure.work}}</div>
            <div style="padding-left: 35px;margin-bottom: 15px" class="row">
              <div class="col-right light" *ngIf="industrialExposure.end_month">
                {{industrialExposure.start_month}} {{industrialExposure.start_year}} -
                {{industrialExposure.end_month}} {{industrialExposure.end_year}}
              </div>
              <div class="col-right light" *ngIf="!industrialExposure.end_month">
                {{industrialExposure.start_month}} {{industrialExposure.start_year}} - Present
              </div>
            </div>
          </ng-container>
        </section>

        <section id="project-detail" *ngIf="this.resume.projectDetails.length">
          <h2>Project Details</h2>
          <ng-container itemprop="alumniOf" *ngFor="let projectDetail of this.resume['projectDetails']">
            <h3><span>{{projectDetail.title}}</span> - {{projectDetail.role}}</h3>
            <div class="emph">{{projectDetail.description}}</div>
            <div style="padding-left: 35px;margin-bottom: 15px" class="row">
              <div class="col-right light">
                {{projectDetail.duration}}
              </div>
            </div>
          </ng-container>
        </section>

        <section id="Awards-achievement" *ngIf="this.resume.award_achivements.length">
          <h2>Award And Achievements</h2>
          <ul itemprop="description" *ngFor="let award of this.resume['award_achivements']">
            <li>
              <div fxLayout="row" fxLayoutGap="10px">
                <span class="hack">{{award.awards_and_achivements}}</span>
              </div>
            </li>
          </ul>
        </section>

        <section id="languages" class="clearfix" itemscope itemtype="http://schema.org/ItemList"
                 *ngIf="this.resume.languages.length">
          <h2 itemprop="name">Languages</h2>
          <section id="skills-left" *ngFor="let language of this.resume['languages']">
            <ul>
              <li id="bullet" itemprop="itemListElement">{{language.name}}</li>
            </ul>
          </section>
        </section>

        <section id="interest" *ngIf="this.resume.interests.length">
          <h2>Hobbies And Interests</h2>
          <ul style="word-break: break-word"
              itemprop="description" *ngFor="let interest of this.resume['interests']">
            <li>
              <div fxLayout="row" fxLayoutGap="10px">
                <span class="hack">{{interest.interest}}</span>
              </div>
            </li>
          </ul>
        </section>

        <section id="Strength" *ngIf="this.resume.strengths.length">
          <h2>Strength</h2>
          <ul itemprop="description" *ngFor="let strength of this.resume['strengths']">
            <li>
              <div fxLayout="row" fxLayoutGap="10px">
                <span class="hack">{{strength.name}}</span>
              </div>
            </li>
          </ul>
        </section>

        <section id="Weakness" *ngIf="this.resume.weakness.length">
          <h2>Weakness</h2>
          <ul itemprop="description" *ngFor="let weakness of this.resume['weakness']">
            <li>
              <div fxLayout="row" fxLayoutGap="10px">
                <span class="hack">{{weakness.name}}</span>
              </div>
            </li>
          </ul>
        </section>

        <section id="reference" *ngIf="this.resume.refrences.length">
          <ng-container *ngFor="let refrence of this.resume['refrences']">
            <h2>Reference</h2>
            <h3>
              {{refrence.name}} From {{refrence.company}}
            </h3>
            <div class="emph">{{refrence.relationship}}</div>
            <div class="emph"><span style="text-transform: lowercase">{{refrence.email}}</span></div>
            <div class="emph">{{refrence.phone}}</div>
            <div class="emph">{{refrence.address}}</div>
          </ng-container>
        </section>

        <section id="reference" *ngIf="this.resume.objectives.length">
          <ng-container *ngFor="let objective of this.resume['objectives']">
            <h2>Objective</h2>
            <h3>
              {{objective.objective}} - {{objective.place}}
            </h3>
            <p>
              {{objective.date}}<br>{{objective.declaration}}</p>
          </ng-container>
        </section>

      </div>
      <div class="hover" fxLayout="column" fxHide.xs fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button (click)="download()" mat-icon-button>
            <mat-icon style="cursor: pointer">download</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>