<form (ngSubmit)="this.projectDetailForm.valid && addOrUpdate()" [formGroup]="this.projectDetailForm">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input type="text" formControlName="title" matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="description" matInput placeholder="Description">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="duration" matInput placeholder="Duration">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="role" matInput placeholder="Role">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button *ngIf="this.data.projectDetail?._id" mat-raised-button color="primary">Update</button>
            <button *ngIf="!this.data.projectDetail?._id" mat-raised-button color="primary">Save</button>
            <button type="button" (click)="this.dialogRef.close()" mat-raised-button color="warn">Cancel</button>
        </div>
    </div>
</form>