<div fxLayout="column" fxLayoutAlign="center center" style="position: relative;">
    <div class="cards-outer-div" fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="!this.contactDetails">
             <h3 class="empty-heading">No Contact Details Added at Yet.</h3>
        </ng-container>
        <ng-container *ngIf="this.contactDetails">
            <h3 style="margin: 0;">{{this.contactDetails.first_name}}</h3>
            <h3 style="margin: 0;">{{this.contactDetails.last_name}}</h3>
            <p style="margin: 0;">{{this.contactDetails.address}}</p>
            <p style="margin: 0;">{{this.contactDetails.city}}</p>
            <p style="margin: 0;">{{this.contactDetails.country}}</p>
        </ng-container>    
        <div fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div class="hover-container">
                <div class="hover">
                    <button (click)="openContactForm()" style="margin-top: 2.5rem;" mat-icon-button>
                        <mat-icon *ngIf="!this.contactDetails">add</mat-icon>
                        <mat-icon *ngIf="this.contactDetails">create</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>