<div fxLayout="column" fxLayoutAlign="start center">
    <mat-tab-group mat-align-tabs="center" color="accent" backgroundColor="primary" style="width: 100%;">
        <mat-tab #myTags #myTag label="UPLOAD PROFILE IMAGE">
            <app-upload-image [resume]="resume"></app-upload-image>
        </mat-tab>
        <mat-tab #myTags label="UPLOAD EXISTING VIDEO">
            <app-upload-from-disk></app-upload-from-disk>
        </mat-tab>
        <mat-tab #myTags label="PASTE YOUTUBE LINK">
            <app-import-from-youtube [resume]="resume"></app-import-from-youtube>
        </mat-tab>
    </mat-tab-group>
</div>