<mat-horizontal-stepper>
    <mat-step *ngIf="!this.loading">
        <ng-template matStepLabel>Name your Resume</ng-template>
        <app-resume-name [isCompleted]="isFirstStepCompleted"></app-resume-name>
    </mat-step>
    <mat-step *ngIf="!this.loading">
        <ng-template matStepLabel>Upload Video & Image</ng-template>
        <p>Upload Image and Video</p>
    </mat-step>
</mat-horizontal-stepper>
<div *ngIf="this.loading" class="overlay" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner diameter="140"></mat-spinner>
</div>
