<mat-horizontal-stepper *ngIf="!this.loading">
    <mat-step>
        <ng-template matStepLabel>Name your Resume</ng-template>
        <app-resume-name [isCompleted]="isFirstStepCompleted"></app-resume-name>
    </mat-step>
    <mat-step *ngIf="isFirstStepCompleted" optional>
        <ng-template matStepLabel>Upload Video & Image</ng-template>
        <app-upload [resume]="resume"></app-upload>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Resume Form</ng-template>
        <app-resume-form [resume]="resume"></app-resume-form>
    </mat-step>
</mat-horizontal-stepper>
<div *ngIf="this.loading" class="overlay" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner diameter="140"></mat-spinner>
</div>
