<form (ngSubmit)="this.forgotPasswordForm.valid && !this.isEmailSend ? sendEmail() : changePassword()" [formGroup]="this.forgotPasswordForm" class="overlay" fxLayout="column"
  fxLayoutAlign="center center" fxLayoutGap="2rem">
  <mat-card class="mat-card" fxLayout="column" fxLayoutGap="1rem">
    <h2 class="fw-600">Login</h2>
    <mat-form-field *ngIf="!this.isEmailSend">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput placeholder="Email*">
      <mat-error>Enter Valid Email</mat-error>
    </mat-form-field>
    <div fxLayout="column" *ngIf="this.isEmailSend">
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input formControlName="code" matInput placeholder="Code*">
        <mat-error>Enter Valid code required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input formControlName="new_password" matInput placeholder="New Password*">
        <mat-error>Enter Valid Password required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirm_password" matInput placeholder="Confirm Password*">
        <mat-error>Enter Valid Confirm Password required</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="!this.isEmailSend" class="mt-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1rem">
      <button type="submit" class="fw-600" mat-raised-button>Send Email</button>
    </div>
    <div *ngIf="this.isEmailSend" class="mt-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1rem">
      <button type="submit" class="fw-600" mat-raised-button>Change Password</button>
      <button class="fw-600" mat-raised-button>Go to Login</button>
    </div>
    <mat-spinner *ngIf="this.loading" diameter="40"></mat-spinner>
  </mat-card>
</form>