/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.overlay {
    width: 100%;
    height: 100%;
}

.mat-card {
    background-color: #58cced;
    border: 3px solid goldenrod;
    width: 30%;
    background-color: whitesmoke;
}

.fw-600 {
    font-weight: 600 !important;
}

.mt-20 {
    margin-top: 1rem !important;
}

.mt-60 {
    margin-top: 3rem !important;
}

.alert-success {
    background-color: #dff0df;
    border-color: #d0e9c6 ;
    color: #3c763d
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebcccc ;
    color: #a94442;
}

.alert .mat-simple-snackbar {
    justify-content: center;
}

.mat-spinner {
    align-items: center;
    align-self: center;
}

.background-img {
    background: linear-gradient(to bottom, #f32b60, #ff8f1f);
}

.text-center {
    text-align: center;
}

.verify-card-fw-bold {
    font-weight: bold !important;
    font-size: 1.8rem !important;
    color: rgb(125, 226, 97);
}

.tabs-heading {
    color: #538ec3 !important;
    font-weight: bolder !important;
    font-size: 2rem !important;
    margin-top: 2rem !important;
    text-align: center !important;
}

.cards-outer-div {
    position: relative;
    background: #e5fade;
    border: 2.5px dashed #d8d8d8;
    width: 95%;
    height: 100%;
}

.hover-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    transition: background 0.5s ease;
}

.cards-outer-div:hover .hover-container {
    display: block;
    background: rgba(0, 0, 0, 0.3);

}

.cards-outer-div:hover .hover {
    opacity: 1;
}

.hover {
    opacity: 0;
    text-align: center;
    transition: opacity .35s ease;
}

.resume-card-info-card-heading {
    margin: 0 !important;
    font-weight: bold !important;
}

.resume-form-mat-icon-button {
    margin-top: 2rem !important;
}

.resume-form-mat-icon {
    font-size: 33px !important;
    margin-top: 1.4rem !important;
}

.resume-form-mat-icon-button-1 {
    margin-top: 0 !important;
}

.resume-form-mat-icon-1 {
    font-size: 23px !important;
    margin-top: 0 !important;
}