<form (ngSubmit)="this.industrialExposureForm.valid && addOrUpdate()" [formGroup]="this.industrialExposureForm">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input type="text" formControlName="organisation" matInput placeholder="Organization">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="city" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="state" matInput placeholder="State">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Starting Month</mat-label>
            <mat-select formControlName="start_month">
                <mat-option *ngFor="let month of monthArray" [value]="month">
                    {{ month }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Starting Year</mat-label>
            <input formControlName="start_year" matInput placeholder="Starting Year">
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Month(Don't fill still Working)</mat-label>
            <mat-select formControlName="end_month">
                <mat-option *ngFor="let month of monthArray" [value]="month">
                    {{ month }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="end_year" matInput placeholder="End Year(Don't fill still Working)">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="work" matInput placeholder="Tell About your Work">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button *ngIf="this.data.industrialExposure._id" mat-raised-button color="primary">Update</button>
            <button *ngIf="!this.data.industrialExposure._id" mat-raised-button color="primary">Save</button>
            <button type="button" (click)="this.dialogRef.close()" mat-raised-button color="warn">Cancel</button>
        </div>
    </div>
</form>